<div id="contentRest">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 mt-1 mb-1 img-ficha">
            <img src="{{foto}}" class="img-fluid" alt="">
        </div>
        <div class="col-5 col-sm-5 col-md-4 col-lg-5 mt-1 mb-1 text-ficha">
            <label>
                <a href="b_{{link}}">
                    <h2>{{nombre}}</h2>
                </a>
                <br>{{direccion}}</label>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-4 mt-1 mb-1 opiniones-nota">
            <label>
                <h2>{{nota}}</h2>
                <br>{{opiniones}} Opiniones</label>
        </div>
    </div>
</div>